#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
*.idea
*.iml
*.ipr
*.iws
out

#Ant
build.xml
local.properties
proguard.cfg
#Gradle
.gradle
build

#OSX
.DS_Store

#Windows
*.db

*.log
*target
*overlays
.metadata
build.sh
.springBeans
nbactions.xml
.mtj

*platforms
*node_modules
*bower_components
/plugins
*.bzr
*.bzrignore

/vendor/
*.hprof